body {
  scroll-behavior: smooth;
}

.bd-heading+div>*+* {
  margin-top: 3rem;
}

.scrollspy-example {
  position: relative;
  height: 200px;
  margin-top: .5rem;
  overflow: auto;
}

@media (min-width: 1200px) {
  #ibody,
  #question,
  #answers {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: auto;
    background-color: #EFEEF5;
    border-radius: 20px;
    padding: 5%;
  }


  .bd-cheatsheet,
  .bd-cheatsheet section,
  .bd-cheatsheet article {
    display: inherit;
    gap: inherit;
    grid-template-columns: 1fr 4fr;
    grid-column: 1 / span 2;
    grid-template-rows: auto;
  }

  .bd-cheatsheet section,
  .bd-cheatsheet section>h2 {
    top: 2rem;
    scroll-margin-top: 2rem;
  }

  .bd-cheatsheet section>h2::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: -2rem;
    left: 0;
    z-index: -1;
    content: "";
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1) calc(100% - 3rem), rgba(255, 255, 255, .01));
  }

  .bd-cheatsheet article,
  .bd-cheatsheet .bd-heading {
    top: 8rem;
    scroll-margin-top: 8rem;
  }

  .bd-cheatsheet .bd-heading {
    z-index: 1;
  }

  p {
    white-space: pre-wrap;
  }
}